@import '../variables';

.sidebar{
  padding: 1.5rem 1.25rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  .logo{
    width: 2rem;
    right: 2rem;
  }
  .new-tweet{
    background-color: $blue-details;
    border: none;
    border-radius: 999px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 900;

    svg{
      width: 1.5rem;
      height: 1.5rem;
      display: none;
    }

    &:hover{
      filter: brightness(0.90);
    }
  }

  .main-navigation{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #FFFFFF;
    
    .active{
      color: $blue-details;
    }
    a{
      display: flex;
      align-items: center;
      gap: 1.25rem;
      font-size: 1.15rem;
      font-weight: 700;
      text-decoration: none;
    
      svg{
        width: 2rem;
        height: 2rem;
      }
      
    }
  }
}

@media(max-width: 780px){
  .sidebar{
    padding: 1.5rem 0.75rem;
    align-items: center;
    .main-navigation{
      a{
        span{
          display: none;
        }
      }
    }
    .new-tweet{
      span{
        display: none;
      }
      svg{
        display: block;
      }
    }
  }
}